#font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*{
    margin: 0px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 16px 120px;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 32px;
}
.baton{
 padding: 12px 15px;
 background-color: rgba(0, 100, 0, 0.664);
 font-size: 16px;
 color: white;
 border-radius: 5px;
 border-style: none;
}
.baton:hover,#seebat:hover{
background-color: rgb(62, 101, 3);}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 400px;
    /* background-color: aquamarine; */
    background-image: url(../assets/hero-bg.png);
    margin: 10px 0px;
    gap: 30px;
}
.banner div{
    display: flex;
gap: 15px;
}
.banner p{
    padding: 0px 70px;
    color:rgba(255, 255, 255, 0.647);
}
    
    .note{
        font-size: 45px;
        text-align: center;
        margin-top:50px;
    }
    .nte{
      font-size: 45px;
        margin-top:0px;  
        /* display: flex; */
    }
    #underban{
        text-align: center;
        color: rgba(0, 0, 0, 0.577);
        margin: 15px;
    }

.cartset{
    display: flex;
    gap: 23px;
    margin-top: 15px;
    margin: 0px 120px;

}
.cart{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding: 65px 24px;
    /* background-color: rgba(250, 235, 215, 0.263); */
    box-shadow: 0px 3px 8px;
    border-radius: 7px;

}
.cart img{
width: 44px;
height: 44px;
padding: 10px;
background-color: brown;
text-align: center;
border-radius: 50px;
}
.carttitle{
text-align: center;
padding:0px 26px ;
font-size: 20px;
}
.cartp{
    text-align: center;
}
  .brain{
    display: flex;
    margin:120px;
    gap: 60px;
    align-items: center;
  }
  .bchild{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-right: 150px;
  }
  .bchild h2{
    margin: 0px;
  }
  .bchild h6{
    display: flex;
    font-size: 16px;
    gap: 5px;
  }
  .special{
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin: 0px 120px 120px 120px;
    align-items: center;
    background-color:rgba(250, 235, 215, 0.49);
    padding: 80px 0px;

  }
  .special button{
    display: flex;
    gap: 5px;
    box-shadow: 10px 20px 10px;
  }
    .special p{
        font-size: 15px;
        color: rgba(0, 0, 0, 0.504);
    }
    .special h3{
        font-size: 40px;
    }

